
<div class="container">
    <h1 class="movie_title">{{title}}</h1>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Country</th>
                        <th scope="col">Writer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies | filter:term"  (click)="onSelectMovie(movie)">
                        <td >{{movie.title}}</td>
                        <td >{{movie.genre}}</td>
                        <td>{{movie.country}}</td>
                        <td>{{movie.writer}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div *ngIf="selectedMovie">
                <h3 class="movie_details_title">Movie Details</h3>
                <h5>Title: {{selectedMovie.title}}</h5>
                <h5>Genre: {{selectedMovie.genre}}</h5>
                <h5>Country: {{selectedMovie.country}}</h5>
                <h5>Writer: {{selectedMovie.writer}}</h5>
                <h5>Description:</h5>
                <p>
                    {{selectedMovie.description}}
                </p> 
            </div>
        </div>
    </div>
</div>